* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  margin: 0 auto;
  max-width: 1320px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
li{list-style: none;}
.title,p {
  color: #222222;
}
button {
  cursor: pointer;
}
.blue__button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  line-height: 17px;
  background-color: #4f8ff0;
  padding: 16px 24px;
  transition: 0.3s;
}
.blue__button:hover {
  background: #e6e6e6;
  color: #222222;
}
