footer {
  margin-top: 80px;
  background: #222222;
}
.footer__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 48px;
}
.footer__bar {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.footer__title_blue {
  font-size: 28px;
  font-weight: 900;
  line-height: 42px;
  color: #4f8ff0;
}
.footer__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  color: #ffffff;
}
.footer__description {
  color: #f8f5f4;
  width: 862px;
  font-size: 16px;
  line-height: 19px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #2c2c2c;
}
.footer__address {
  gap: 24px;
  display: flex;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.footer__pointer {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}
.footer__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.footer__item {transition: 0.3s;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}
.footer__leader {
  width: 424px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leader__directly {
  display: flex;
  align-items: center;
}
.leader__data {
  padding-left: 24px;
}
.leader__name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.leader__position {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.leader__about {
  color: #f8f5f4;
  font-size: 14px;
  line-height: 21px;
}
.leader__ask {
  width: 241px;
}
.footer__rights {
  background: #181818;
}
.rights__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.rights__reserved,
.rights__personal {
  padding: 16px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}
.footer__line{opacity: .08;}
.footer__item:hover{color: #4f8ff0;}