.helpful__wrapper{display: flex;flex-direction: column;align-items: center;}
.helpful__title{position: relative;margin-top: 80px;
font-size: 28px;
font-weight: 800;
line-height: 42px;
color: #222222;
}
.helpful__title::after{left:150px ;bottom: -10px;}
.helpful__description{color: #222222;margin-top: 24px;width: 920px;
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
}
.helpful__materials{display: flex;margin-top: 48px;width: 100%;
    justify-content: space-between;}
.helpful__article{width: 424px;}
.helpful__picture{width: 424px;height: 270px;object-fit: cover;}
.article__head{
font-size: 16px;
font-weight: 700;
line-height: 24px;
}
.article__date{padding-top: 16px;
font-size: 12px;
font-weight: 300;
line-height: 14px
}
.article__text{
font-size: 14px;
font-weight: 400;
line-height: 17px;padding-bottom: 34px;padding-top: 16px;
}
.all__news{margin-top: 82px;}