.services{background: #f7f7f7;}
.services__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}
.services__title {
  position: relative;
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  color: #222222;
}
.services__description {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  width: 920px;
  text-align: center;
}
.blue__underline::after {
  content: "";
  position: absolute;
  left: 85px;
  bottom: -20px;
  background-color: #4f8ff0;
  width: 60px;
  height: 4px;
  border-radius: 8px;
}
.services__cards {
  padding-top: 30px;
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.services__item {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 0.5s;
}
.item__icon {
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url(../src/images/logo/Vector.png);
  height: 30px;
  width: 100%;
}
.item__title {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}
.item__description {
  padding: 0 10px;
  height: 51px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}
.services__item:hover {
  background-color: #4f8ff0;
}
.services__item:hover .item__icon {
  background-image: url(../src/images/logo/Vector\(3\).png);
}
.services__item:hover :is(.item__description, .item__title) {
  color: #ffffff;
}
.services__item:hover .item__description {
  font-size: 16px;
  line-height: 19px;
}
.services__all {
  margin-top: 48px;
  margin-bottom: 80px;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
