@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

li {
  list-style: none;
}

.title, p {
  color: #222222;
}

button {
  cursor: pointer;
}

.blue__button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  line-height: 17px;
  background-color: #4f8ff0;
  padding: 16px 24px;
  transition: 0.3s;
}

.blue__button:hover {
  background: #e6e6e6;
  color: #222222;
}

header {
  z-index: 99;
  position: fixed;
  width: 100%;
}

.header__connect {
  background: #010101;
  height: 52px;
  align-items: center;
  display: flex;
}

.connect__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__contacts {
  align-items: center;
  display: flex;
}

.header__address {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #ffffff;
}

.header__mail {
  padding-left: 20px;
}

.header__call {
  padding: 5px 10px;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.header__call:hover {
  color: #4f8ff0;
}

.header__text {
  background: rgba(1, 1, 1, 0.7607843137);
  height: 112px;
  align-items: center;
  display: flex;
}

.title__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__text_blue {
  font-size: 28px;
  font-weight: 900;
  line-height: 42px;
  color: #4f8ff0;
}

.title__text {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  color: #ffffff;
}

.header__list {
  display: flex;
}

.list__item {
  transition: 0.3s;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
}

.list__item:hover {
  color: #4f8ff0;
}

.hero {
  background-image: url(../src/images/pictures/фон.png);
  background-size: cover;
  height: 100vh;
  padding-top: 163px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__text {
  width: 82.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
}

.hero__title_blue {
  color: #4f8ff0;
  font-size: 56px;
  font-weight: 600;
  line-height: 84px;
}

.hero__description {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.hero__services {
  margin-top: 48px;
}

.hero__slider {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slider__stick {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  color: #ffffff;
}

.slider__stick:hover {
  color: #4f8ff0;
  transform: scaleY(2.5);
}

.change__arrow {
  transition: 0.3s;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  width: 22px;
  height: 23px;
  cursor: pointer;
}

.change__span {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.change__arrow:hover {
  transform: scale(1.5);
}

.services {
  background: #f7f7f7;
}

.services__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.services__title {
  position: relative;
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  color: #222222;
}

.services__description {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  width: 920px;
  text-align: center;
}

.blue__underline::after {
  content: "";
  position: absolute;
  left: 85px;
  bottom: -20px;
  background-color: #4f8ff0;
  width: 60px;
  height: 4px;
  border-radius: 8px;
}

.services__cards {
  padding-top: 30px;
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.services__item {
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 0.5s;
}

.services__aim {
  left: 6%;
  top: 4%;
  position: absolute;
  background: url(../src/images/logo/show.png) no-repeat center;
  align-content: space-between;
  justify-content: space-between;
  width: 390px;
  height: 230px;
  display: none;
  grid-template-columns: repeat(2, 35px);
  grid-template-rows: repeat(2, 35px);
}

.item__icon {
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url(../src/images/logo/Vector.png);
  height: 30px;
  width: 100%;
}

.item__title {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}

.item__description {
  padding: 0 10px;
  height: 51px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.services__item:hover {
  background-color: #4f8ff0;
  transform: scale(1.05);
}

.services__item:hover .item__icon {
  background-image: url(../src/images/logo/Vector\(3\).png);
}

.services__item:hover :is(.item__description, .item__title) {
  color: #ffffff;
}

.services__item:hover .services__aim {
  display: grid;
}

.services__item:hover .item__description {
  font-size: 16px;
  line-height: 19px;
}

.services__all {
  margin-top: 48px;
  margin-bottom: 80px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: #ffffff;
}

.about__wrapper {
  padding-top: 78px;
  display: flex;
}

.about__text {
  padding-right: 64px;
}

.about__title {
  position: relative;
  font-size: 28px;
  font-weight: 900;
  line-height: 42px;
}

.about__title::after {
  left: 0;
  bottom: -10px;
}

.about__title_blue {
  color: #4f8ff0;
  font-weight: 900;
}

.about__description {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about__buttons {
  display: flex;
  padding-top: 32px;
  padding-bottom: 80px;
  gap: 24px;
}

.about__picture {
  height: 359px;
}

.staff {
  background: #f7f7f7;
}

.staff__wrapper {
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff__cover {
  transition: 0.5s;
}

.staff__person_doble {
  transition: 0.3s;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 305px;
  height: 414px;
  background: #ffffff;
}

.staff__person {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 305px;
  height: 414px;
  background: #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
}

.staff__cover:hover .staff__person {
  display: none;
}

.staff__cover:hover .staff__person_doble {
  display: flex;
}

.staff__title {
  color: #222222;
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  position: relative;
}

.staff__text {
  text-align: center;
  width: 920px;
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #222222;
}

.staff__pool {
  display: flex;
  padding-top: 48px;
  gap: 24px;
}

.person__photo {
  height: 320px;
}

.person__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #222222;
}

.person__expertarea {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #222222;
}

.person__description {
  width: 265px;
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.person__experience {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #222222;
}

.reviews {
  margin-top: 61px;
  background-image: url(../src/images/pictures/Фон\ блока.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews__top {
  display: flex;
  justify-content: space-between;
}

.reviews__title {
  padding-top: 80px;
  margin-bottom: 48px;
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  position: relative;
}

.reviews__title::after {
  left: 0;
  bottom: -10px;
}

.reviews__slider {
  transform: translateY(50%);
}

.change__blue {
  color: #4f8ff0;
}

.review__wrapper {
  width: 50%;
  background-color: #ffffff;
}

.review {
  padding: 16px;
}

.review__cards {
  display: flex;
  gap: 24px;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.1490196078);
}

.review__person {
  display: flex;
}

.review__company {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.review__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.review__text {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.person__data {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  padding: 14.5px 24px;
}

.reviews__buttons {
  margin-top: 46px;
  padding-bottom: 96px;
}

.leave__review {
  margin-left: 24px;
}

.helpful__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helpful__title {
  position: relative;
  margin-top: 80px;
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  color: #222222;
}

.helpful__title::after {
  left: 150px;
  bottom: -10px;
}

.helpful__description {
  color: #222222;
  margin-top: 24px;
  width: 920px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.helpful__materials {
  gap: 24px;
  display: flex;
  margin-top: 48px;
  width: 100%;
  justify-content: space-between;
}

.helpful__article {
  transition: 0.4s;
  width: 424px;
}

.helpful__picture {
  width: 424px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__head {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.article__date {
  padding-top: 16px;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.article__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 34px;
  padding-top: 16px;
}

.all__news {
  margin-top: 82px;
}

.helpful__cover {
  position: relative;
}

.helpful__article:hover .aim {
  display: grid;
}

.aim {
  left: 6%;
  top: 7%;
  position: absolute;
  background: url(../src/images/logo/show.png) no-repeat center;
  align-content: space-between;
  justify-content: space-between;
  width: 372px;
  height: 230px;
  display: none;
  grid-template-columns: repeat(2, 35px);
  grid-template-rows: repeat(2, 35px);
}

.aim__upright {
  border-left: 2px solid #f8f5f4;
  border-top: 2px solid #f8f5f4;
  opacity: 0.4;
}

.aim__upleft {
  border-right: 2px solid #f8f5f4;
  border-top: 2px solid #f8f5f4;
  opacity: 0.4;
}

.aim__downright {
  border-left: 2px solid #f8f5f4;
  border-bottom: 2px solid #f8f5f4;
  opacity: 0.4;
}

.aim__downleft {
  border-right: 2px solid #f8f5f4;
  border-bottom: 2px solid #f8f5f4;
  opacity: 0.4;
}

footer {
  margin-top: 80px;
  background: #222222;
}

.footer__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 48px;
}

.footer__bar {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.footer__title_blue {
  font-size: 28px;
  font-weight: 900;
  line-height: 42px;
  color: #4f8ff0;
}

.footer__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  color: #ffffff;
}

.footer__description {
  color: #f8f5f4;
  width: 862px;
  font-size: 16px;
  line-height: 19px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #2c2c2c;
}

.footer__address {
  gap: 24px;
  display: flex;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.footer__pointer {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.footer__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.footer__item {
  transition: 0.3s;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}

.footer__leader {
  width: 424px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leader__directly {
  display: flex;
  align-items: center;
}

.leader__data {
  padding-left: 24px;
}

.leader__name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.leader__position {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.leader__about {
  color: #f8f5f4;
  font-size: 14px;
  line-height: 21px;
}

.leader__ask {
  width: 241px;
}

.footer__rights {
  background: #181818;
}

.rights__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.rights__reserved,
.rights__personal {
  padding: 16px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.footer__line {
  opacity: 0.08;
}

.footer__item:hover {
  color: #4f8ff0;
}/*# sourceMappingURL=styles.css.map */